SOLANA_PRIVATE_KEY=
GIBWORK_ENVIRONMENT=stage
DRY_RUN=true

DEFAULT_REWARD=50.00
DEFAULT_MINT=EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
DEFAULT_TAGS=internal,engineering

DISCORD_WEBHOOK_URL=
SLACK_WEBHOOK_URL=
